-extends "base.pug"
-load staticfiles i18n
-block content
    p Список всех авторов
    books
        for author in authors
            .book
                a(href="/authors/{{author.pk}}/")
                    {{author.name}}