-extends "base.pug"
-load staticfiles i18n
-block content
    p Список страниц
    ul
        li
            a(href="/books/") /books/
        li
            a(href="/authors/") /authors/
        li
            a(href="/books/1/") /books/1/
        li
            a(href="/authors/1/") /authors/1/